@charset "utf-8";
/* CSS Document */
.mainPage { margin-top: 20px; width: 1109px; height: 773px; border:1px solid #E1E1E1;}
.leftSideTemplate { width: 201px; height: 773px; float: left; border-radius:5px;}
.rightSideTemplate { width: 901px; height: 773px; float: right; border-left:1px solid #CCC; border-radius:5px; border: 1px solid #0C3;}
.centerTitle {margin:auto 25px; width: 851px; height: 60px; font-size:20px; line-height:60px; text-indent:2em; border-bottom: 1px solid #D8D8D8;}

/* welcomeInfo CSS */
.rightSide {width:901px; height: auto;}
.welcomeInfo {width:501px; height: 130px; margin: 20px auto 30px 100px;}
.userPic{width:102px; height: 102px; border-radius: 5px; border: 1px solid #DFDFDF; float:left; text-align:center; line-height: 102px; }
.userInfo{width: 350px; height: 130px; line-height: 40px; font-size:20px; color:#000; float:right; text-align:center;}
.instruction{width: 861px; height:560px; border-top:1px solid #E1E1E1; padding:20px;}
.wltitle{display:inline-block; width:400px; height:30px; font-size: 18px; font-weight:bold; color:#333; float:left;}
.registerTime{display:inline-block; width:300px; height:30px; font-size: 14px; text-align:right; float:right;}
.instruction p{display:inline-block; margin-top: 20px; width:861px; height:auto; font-size:16px; text-indent:2em; line-height: 25px; float:left;}

/* Button Style */
.doctorBtnStyle {width:120px; height:30px; text-align:center; font-size:16px; float:right;}
.doctorBtnStyle a {display:block; width:120px; height:30px; background-color:#666; line-height:30px; color:#FFF; cursor:pointer; border-radius:2px;}
.doctorBtnStyle a:hover {text-decoration: none;}

/* 编辑框 CSS */
.editorBox {width: 800px; height:700px; font-size:16px;}
.editorKey {width:80px; height: 700px; float:left; text-align:center;}
.eidtorTitle {height: 50px; line-height:50px;}
.editorContent {height: 600px;}
.editorValue {width: 720px; height:700px; float:left;}
.titleValue {height:50px;}
.contentValue {height: 500px;font-size:16px;}
.editorAddBtn {height: 50px;}
.Content {width: 98%; padding: 10px; text-align: justify;}
/*  个人资料 CSS */
.infoContent,.addContent, .rehabContent, .equipmentContent{margin:20px auto; width:501px; height:auto; font-size: 16px;}
.rehabContent{width:600px;}
.addFieldArea,.rehabFieldArea, .equipmentFieldArea,.equipmentFieldPropertyArea{width:150px; height:250px; margin: auto; text-align: right; line-height:42px; float:left; font-size: 16px;}
.rehabFieldArea,..equipmentFieldPropertyArea{height:320px;}
.equipmentFieldPropertyArea{width: 250px; padding-left: 30px; text-align: left;}
.equipmentFieldArea{height:260px;}
.addFieldPropertyArea{width: 250px; height: 250px; text-align: left; float:left; padding-left: 30px;}
.fieldArea,.fieldArealh42 {width: 150px; height:400px; text-align: right; line-height:40px; float:left;}
.fieldArealh42{line-height:42px;}
.fieldPropertyArea{width: 180px; height: 520px; text-align: left; float:left; padding-left: 30px;}
.rehabPropertyArea,.addRehabPropertyArea{width: 250px; height: 450px; text-align: left; float:left; padding-left: 30px;}
.rehabPropertyArea{width:330px;}
.addRehabPropertyArea{width:330px; height:320px;}
.inputStyle{display:block; width:170px; height: 30px; margin: 5px; float: left; border: 0px; font-size:16px; font-family:"微软雅黑";}
.inputStyle1{display:block; width:170px; height: 30px; margin: 5px; float: left; border: 1px solid #ccc; font-size:16px; font-family:"微软雅黑";}
.inputStyle2{display:block; width:245px; height: 30px; margin: 5px; float: left; border: 1px solid #ccc; font-size:16px; font-family:"微软雅黑";}
.rehabPlanContent,.addRehabPlanContent{width:600px;height:190px; float:left;}
.addRehabPlanContent{height:120px;}
.rehabPlanContentStyle,.addRehabPlanContentStyle{width:600px; height:70px; font-size:16px;text-indent: 2em;}
.addRehabPlanContentStyle{height:100px;}
.gender{width:20px; height:20px; margin:10px;}
.gender5{display:block;width:20px; height:20px; margin:8px; float:left;}
.psearch{display:block;width:32px; height:32px; margin: 4px; background:url(http://www.nofate.net.cn/mre/style/images/button/search.png); background-position:center; cursor:pointer; border:0px;float:right;}
.addOperateArea{width:350px; height: 50px;}
.addOperateArea input{ display:incline-block; width:100px; height:30px; margin-left:50px; border:0px; background-color:#0C0; color:#FFF; font-weight:bold; font-size:16px; border-radius:5px; font-family:"微软雅黑"; float:right; cursor:pointer;}
.fieldPropertyArea span{display:inline-block; width: 30px; height:30px; line-height:40px; float:left;}
.operateArea{width:431px; height: 50px;}
.operateArea input{ display:incline-block; width:100px; height:30px; margin-left:60px; border:0px; background-color:#0C0; color:#FFF; font-weight:bold; font-size:16px; border-radius:5px; font-family:"微软雅黑"; float:right; cursor:pointer;}

/*  积分管理 CSS */
.creditsArea{width:900px; height:150px; margin: 30px auto; text-align:center; line-hight:50px; font-size:20px; border-bottom: 1px solid #D8D8D8;}
.myHealthInsurance a,.creditsArea a{font-size:12px; cursor: pointer;}
.myHealthInsurance a:hover,.creditsArea a:hover{font-size:14px;color:#09C;text-decoration:none;}
.getCredits{width:941px; height:150px; margin: 30px auto; text-align:center; line-hight:50px; font-size:16px;}

/* 修改密码 CSS */
.passwordPropertyArea{width: 180px; height: 180px; text-align: left; float:left; padding-left: 30px;}
.passwordPropertyArea input{display:inline-block; width:170px; height: 28px; margin: 5px; float: left; font-size:16px; font-family:"微软雅黑";}
.confirmArea{width:140px; height:30px; margin: auto;}
.confirmArea input, .saveStyle, .rehabSaveStyle{width:140px; height:30px; border:0px;background-color:#0C0; color:#FFF; font-weight:bold; font-size:16px; border-radius:5px; font-family:"微软雅黑";cursor:pointer;}
.saveArea{width:140px; height:40px;  margin:10px auto; text-align:center;}
.saveStyle {margin: 10px auto; height:35px;}
.rehabSaveStyle{margin: 50px auto; height:35px;}
/*  短信通知设置 CSS*/
.myHealthInsurance,.myMedicalRecord,.messageSetupArea{width:800px; height:250px; margin:20px auto;font-size:16px; text-align:center;}

/*  患者列表 设备列表 CSS */
.patientsList, .equipmentsList, .todayPlanList, .planList, .assessmentsList,.prescriptionsList{margin:20px auto;}
#prescriptions,#assessments,#patients,#equipments,#todayPlans,#plans{border-top: 1px solid #000; border-bottom: 1px solid #000; font-size: 14px; line-height:28px;}

/*  设备测试  CSS */
.equipmentsCheck{margin: 50px; font-size:18px; color:#000;}
.equipmentsCheck select{width:300px; height:30px; line-height: 30px;font-size:16px; font-family:"微软雅黑"; color:#000;}
.disabledBtn{width:80px; height:30px; line-height: 30px; color:#FFF; line-height:30px; border:0px; border-radius:2px; font-size:16px; font-family:"微软雅黑"; background:#CCC;}
.abledBtn{width:80px; height:30px; line-height: 30px; color:#FFF; line-height:30px; border:0px; border-radius:2px; font-size:16px; font-family:"微软雅黑";cursor:pointer; background:#0C0;}

/*  康复计划制定 CSS */
.orderBy{margin:20px 0px 20px 10px; font-size:16px;}
.selectPatients,.selectEquipments,.selectTime,.orderSubmit{margin:20px 10px;float:left;}
.orderSubmit button{width:50px; height:30px; color:#FFF; border:0px; background:#0C0;font-size:14px;cursor:pointer; border-radius:2px; font-family:"微软雅黑";}
.selectTime{width:330px;}
.selectTime input{height:25px; width:130px;}
.selectPatients select{width:100px; height:30px; line-height: 30px;font-size:16px; font-family:"微软雅黑"; color:#000;}
.selectEquipments select{width:220px; height:30px; line-height: 30px;font-size:16px; font-family:"微软雅黑"; color:#000;}

#todayRehabPlanCount a:hover{text-decoration: none;}

/* 收发件箱 */
.messages{width:800px; height:auto; margin:20px auto;font-size:16px; line-height:30px;}
.messages ul a{color:#333;}
.delete {color:#999;}

